body {
    margin: 0;
    padding: 0;
    background-color: #0f172a;
    color: #e5e7eb;
    font-family: Arial, Helvetica, sans-serif;
}
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
}

.hero h1 {
    font-size: 56px;
    margin-bottom: 10px;
}

.hero h2 {
    font-size: 28px;
    color: #38bdf8;
    margin-bottom: 20px;
}

.hero p {
    max-width: 500px;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.hero-buttons a {
    display: inline-block;
    padding: 12px 24px;
    margin-right: 15px;
    text-decoration: none;
    color: #0f172a;
    background-color: #38bdf8;
    border-radius: 6px;
    font-weight: bold;
}

.hero-buttons a.secondary {
    background-color: transparent;
    color: #38bdf8;
    border: 2px solid #38bdf8;
}
.skills {
    padding: 80px;
    background-color: #020617;
}

.skills h3 {
    font-size: 32px;
    margin-bottom: 40px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px
}

.skill-card {
    padding: 20px;
    background-color: #0f172a;
    border: 1px solid #1e293b;
    border-radius: 8px;
    text-align: center;
    font-weight: 600;
}
.projects {
    padding: 80px;
    background-color: #020617;
}

.projects h3 {
    font-size: 32px;
    margin-bottom: 40px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 30px;
}

.project-card {
    background-color: #0f172a;
    border: 1px solid #1e293b;
    padding: 25px;
    border-radius: 10px;
}

.project-card h4 {
    font-size: 22px;
    margin-bottom: 10px;
}

.project-card p {
    color: #cbd5f5;
    margin-bottom: 15px;
}

.project-card span {
    font-size: 14px;
    color: #38bdf8;
}
.contact {
    padding: 80px;
    background-color: #020617;
}

.contact h3 {
    font-size: 32px;
    margin-bottom: 30px;

}

.contact form {
    max-width: 500px;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    background-color: #0f172a;
    border: 1px solid #1e293b;
    color: #fff;
    border-radius: 6px;
}

.contact textarea {
    resize: none;
    height: 120px;
}

.contact button {
    padding: 14px 24px;
    background-color: #38bdf8;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
}
.success {
    min-height: 100vh;
    background-color: #020617;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.success h2 {
    font-size: 36px;
    margin-bottom: 10px;
}
.success a {
    margin-top: 20px;
    color: #38bdf8;
    font-weight: 600;
}