

<!DOCTYPE html>
<html>
<head>
    <title>Experience</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<h1>Experience</h1>

<p>This page shows my professional and internship experience.</p>

<ul>
    <li>Full Stack Developer Intern – Sequ Space Pvt. Ltd.</li>
    <li>Business Development Analyst – MD Data Informatics </li>
    <li>Process Consultant – Morganvij Immigration Services</li>
    <li>Quality Analyst – Fairdebt Pvt. Ltd.</li>
    <li>Accountant – Optico India</li>
</ul>

<a href="/">Back to Home</a>

</body>
</html>
