
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Dhaneshwari | Python Full Stack Developer</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    </head>
    <body>
       <!--Hero Section-->
       <section class="hero">
        <h1>
            Dhaneswari Behera
        </h1>
        <h2>Python Full Stack Developer</h2>
        <p>I build scalable web applications using Python, Flask, and modern web technologies.</p>
        <div class="hero-buttons">
            <a href="#projects">View Projects</a>
            <a href="#contact" class="secondary">Contact Me</a>
        </div>
       </section>

       <section class="Skills" id="skills">
        <h3>Technical Skills</h3>

        <div class="skills-grid">
            <div class="skill-card">Python</div>
            <div class="skill-card">flask</div>
            <div class="skill-card">HTML & CSS</div>
            <div class="skill-card">JavaScript</div>
            <div class="skill-card">SQL</div>
            <div class="skill-card">Git & GitHub</div>
            <div class="skill-card">REST APIs</div>
            <div class="skill-card">VS Code</div>
        </div>
       </section>

       <section class="Projects" id="Projects">
        <h3>Featured Projects</h3>

        <div class="project-card">
            <div class="project-card">
                <h4>Immigration Services Web App</h4>
                <p>A Python Flask-based web application to manage immigration
                services, client inquiries, and document tracking.</p>
                <span>Tech: Python, Flask, HTML, CSS</span>
            </div>

            <div class="project-card">
                <h4>Portfolio Web Application</h4>
                <p>
                    A full-stack developer portfolio built using Flask with a
                responsive UI and clean architecture.
                </p>
                <span>Tech: Flask, Web UI, VS Code</span>
            </div>
        </div>
       </section>

       <section class="contact" id="contact">
        <h3>Contact Me</h3>

        <from method="POST" action="/contact">
            <input type="text" name="name" placeholder="your Name" required>

            <input type="email" name="email" placeholder="Your Email" required>

            <textarea name="message" placeholder="Your Message" required></textarea>

            <button type="submit">Send Message</button>
        </from>
       </section>
       
    </body>
</html>